## Data Wrangling

This file englobes the process of discover the raw data gathered, analyzing how to cleaning and preprocess the data to use on the model.

In [57]:
import pandas as pd
import numpy as np

In [58]:
import glob
import os

intake_files = glob.glob("data/intake/*.json")
latest_intake_raw_file = max(intake_files, key=os.path.getctime)

outcome_files = glob.glob("data/outcome/*.json")
latest_outcome_raw_file = max(outcome_files, key=os.path.getctime)

print(f"Último arquivo de entradas: {latest_intake_raw_file}")
print(f"Último arquivo de saídas: {latest_outcome_raw_file}")

Último arquivo de entradas: data/intake\20241215_165016.json
Último arquivo de saídas: data/outcome\20241215_165403.json

In [59]:
df_intake_raw = pd.read_json(latest_intake_raw_file)
df_intake_raw.shape
# The raw json was saved with a array of arrays

(170, 1000)

In [60]:
df_intake_raw[0].head()

0    {'animal_id': 'A786884', 'name': '*Brock', 'da...
1    {'animal_id': 'A901530', 'datetime': '2024-04-...
2    {'animal_id': 'A544916', 'name': 'Blue', 'date...
3    {'animal_id': 'A813859', 'name': 'Snow', 'date...
4    {'animal_id': 'A779053', 'name': 'Shadow', 'da...
Name: 0, dtype: object

In [61]:
def transform_json_in_dataframe(raw_df):
    df_flatted = np.concatenate(raw_df.to_numpy())
    df_flatted = df_flatted[df_flatted != np.array(None)]

    return pd.json_normalize(df_flatted)


df_intake = transform_json_in_dataframe(df_intake_raw)
df_intake.head()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A786884,*Brock,2019-01-03T16:19:00.000,2019-01-03T16:19:00.000,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A857105,Johnny Ringo,2022-05-12T00:23:00.000,2022-05-12T00:23:00.000,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Neutered Male,2 years,Domestic Shorthair,Orange Tabby

In [62]:
df_outcome_raw = pd.read_json(latest_outcome_raw_file)
df_outcome = transform_json_in_dataframe(df_outcome_raw)
df_outcome.head()

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype
0,A882831,*Hamilton,2023-07-01T18:12:00.000,2023-07-01T18:12:00.000,2023-03-25T00:00:00.000,Adoption,Cat,Neutered Male,3 months,Domestic Shorthair Mix,Black/White,NaN
1,A794011,Chunk,2019-05-08T18:20:00.000,2019-05-08T18:20:00.000,2017-05-02T00:00:00.000,Rto-Adopt,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,NaN
2,A776359,Gizmo,2018-07-18T16:02:00.000,2018-07-18T16:02:00.000,2017-07-12T00:00:00.000,Adoption,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,NaN
3,A821648,NaN,2020-08-16T11:38:00.000,2020-08-16T11:38:00.000,2019-08-16T00:00:00.000,Euthanasia,Other,Unknown,1 year,Raccoon,Gray,NaN
4,A720371,Moose,2016-02-13T17:59:00.000,2016-02-13T17:59:00.000,2015-10-08T00:00:00.000,Adoption,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,NaN

In [63]:
print(f"Tamanho de entradas: {df_intake.shape}")
print(f"Tamanho de saídas: {df_outcome.shape}")

Tamanho de entradas: (169668, 12)
Tamanho de saídas: (169683, 12)

In [64]:
df_intake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169668 entries, 0 to 169667
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   animal_id         169668 non-null  object
 1   name              120959 non-null  object
 2   datetime          169668 non-null  object
 3   datetime2         169668 non-null  object
 4   found_location    169668 non-null  object
 5   intake_type       169668 non-null  object
 6   intake_condition  169668 non-null  object
 7   animal_type       169668 non-null  object
 8   sex_upon_intake   169668 non-null  object
 9   age_upon_intake   169668 non-null  object
 10  breed             169668 non-null  object
 11  color             169668 non-null  object
dtypes: object(12)
memory usage: 15.5+ MB

In [65]:
df_intake.describe()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
count,169668,120959,169668,169668,169668,169668,169668,169668,169668,169668,169668,169668
unique,151314,29143,116185,116185,68357,6,20,5,6,56,2963,653
top,A721033,Luna,2016-09-23T12:00:00.000,2016-09-23T12:00:00.000,Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,738,64,64,30828,116425,143944,92518,57481,27687,33632,17561

In [66]:
df_intake[df_intake["animal_id"] == "A721033"].shape

(33, 12)

In [67]:
df_intake["age_upon_intake"].unique()

# Muitos valores diversos e não precisos

array(['2 years', '8 years', '11 months', '4 weeks', '4 years', '6 years',
       '6 months', '5 months', '1 month', '14 years', '2 weeks', '1 week',
       '2 months', '18 years', '9 years', '4 months', '1 day', '1 year',
       '3 years', '4 days', '5 years', '15 years', '8 months', '6 days',
       '7 years', '3 months', '3 weeks', '12 years', '9 months',
       '10 years', '10 months', '7 months', '0 years', '1 weeks',
       '5 days', '17 years', '2 days', '11 years', '3 days', '13 years',
       '5 weeks', '16 years', '19 years', '20 years', '-1 years',
       '-3 years', '22 years', '-4 years', '28 years', 'NULL', '23 years',
       '30 years', '-2 years', '21 years', '25 years', '24 years'],
      dtype=object)

In [68]:
df_intake.drop(
    [
        "animal_id",
        "datetime2",
        "name",
        "found_location",
        "age_upon_intake",
        "breed",
        "color",
    ],
    axis=1,
    inplace=True,
)
df_intake

,datetime,intake_type,intake_condition,animal_type,sex_upon_intake
0,2019-01-03T16:19:00.000,Stray,Normal,Dog,Neutered Male
1,2015-07-05T12:59:00.000,Stray,Normal,Dog,Spayed Female
2,2016-04-14T18:43:00.000,Stray,Normal,Dog,Intact Male
3,2013-10-21T07:59:00.000,Stray,Sick,Cat,Intact Female
4,2022-05-12T00:23:00.000,Public Assist,Normal,Cat,Neutered Male
...,...,...,...,...,...
169663,2024-12-11T11:25:00.000,Stray,Normal,Cat,Intact Male
169664,2024-12-09T13:32:00.000,Stray,Normal,Dog,Intact Male
169665,2017-07-03T15:12:00.000,Stray,Normal,Cat,Intact Male
169666,2024-12-11T11:25:00.000,Stray,Normal,Cat,Intact Male
169667,2024-12-15T11:33:00.000,Owner Surrender,Normal,Cat,Neutered Male

In [73]:
df_intake = df_intake.map(lambda s: s.lower() if isinstance(s, str) else s)

In [74]:
df_intake["intake_type"].unique()

array(['stray', 'public assist', 'owner surrender', 'abandoned',
       'wildlife', 'euthanasia request'], dtype=object)

In [75]:
df_intake["intake_condition"].unique()

array(['normal', 'sick', 'injured', 'pregnant', 'neonatal', 'nursing',
       'aged', 'unknown', 'med attn', 'medical', 'other', 'feral',
       'behavior', 'med urgent', 'parvo', 'space', 'agonal', 'neurologic',
       'panleuk', 'congenital'], dtype=object)

In [81]:
df_intake["intake_condition"] = df_intake["intake_condition"].replace(
    ["med attn", "med urgent"], "medical"
)

In [82]:
df_intake["intake_condition"].unique()

array(['normal', 'sick', 'injured', 'pregnant', 'neonatal', 'nursing',
       'aged', 'unknown', 'medical', 'other', 'feral', 'behavior',
       'parvo', 'space', 'agonal', 'neurologic', 'panleuk', 'congenital'],
      dtype=object)

In [71]:
df_intake["sex_upon_intake"].unique()

array(['Neutered Male', 'Spayed Female', 'Intact Male', 'Intact Female',
       'Unknown', 'NULL'], dtype=object)

In [85]:
def separate_sex(column_input, index_target):
    splits = column_input.split(" ")
    if len(splits) == 1:
        return "unknown"
    return splits[index_target].lower()


# Apply the function to the Age column using the apply() function
df_intake["sex_status"] = df_intake["sex_upon_intake"].apply(
    lambda x: separate_sex(x, 0)
)
df_intake["sex_upon_intake"] = df_intake["sex_upon_intake"].apply(
    lambda x: separate_sex(x, 1)
)

In [ ]:
df_intake.to_csv("data/clean/cleaned_aac_data.csv")